
/* Barre de navigation */
nav {
    background-color: #ffffff;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #7A562C;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #7A562C;
    border-bottom: 2px solid #7A562C;
    padding-bottom: 5px;
}body{
    font-family: Arial, sans-serif;
    background-color:#f5f5f5;
    margin:0;
    padding:20px;
     padding-top: 50px;
}

h1{
    text-align:center;
    color:#7A562C;
    margin-bottom:30px;
}
p{
    text-align: center;
}

.products{
    padding: 60px;
    max-width: 1200px; /* زيدي العرض */
    margin: auto;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    column-gap: 60px; /* بين الأعمدة */
    row-gap: 40px;    /* بين الصفوف */
}

.product{
    width: 250px;
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}
.product img{

width:100%;
height: 250px;
object-fit: cover;
transition: transform 0.4s ease;

}
.product:hover{
    transform:scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.product button{

background:#7A562C;

border:none;

padding:10px 20px;

color:white;

margin-top:10px;

}
.prix{
    color:#7A562C;
    font-size:22px;
    font-weight:bold;
}
.cart-box{
    border:1px solid #7A562C;
    width:180px;
    height:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:transparent;
}

.cart-link{
    display:flex;
    align-items:center;
    text-decoration:none;
    color:#7A562C;
    font-size:24px;
    font-weight:bold;
}

.cart-icon{
    padding-right:20px;
    border-right:1px solid #7A562C;
}

#cart-total{
    padding-left:20px;
}
