body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f5f5f5;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

h2{
    color:#7A562C;
}
.register{
    width:320px;
    background:#fff;
    padding:15px 20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    transform: scale(0.9);
}

.register h2{
    text-align:center;
    margin-bottom:12px;
    color: #7A562C;
}

.register input{
    width:100%;
    padding:8px;
    margin:6px 0;
    border:1px solid #fff;
    border:1px solid #7A562C;
    border-radius:5px;
    box-sizing:border-box;
}

.register button{
    width:100%;
    padding:8px;
    background:#7A562C;
    color:#fff;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
}

.register button:hover{
    background:#7A562C;
}

.register p{
    text-align:center;
    margin-top:15px;
}
